body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
}

#container {
    width: 400px;
    height: 400px;
    margin: 130px 480px;
}

#heading {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
}