* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: lightblue;
}

#container {
    width: 400px;
    height: 400px;
    margin: 130px 480px;
}

#heading {
    font-size: 20px;
    font-weight: 600;
    width: 100%;
    padding: 10px;
    background-color: darkblue;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 0px;
}

#txtArea {
    width: 100%;
    height: 350px;
    padding: 15px;
    font-size: 20px;
    color: whitesmoke;
    background-color: dodgerblue;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    resize: none;
    border: none;
    outline: none;
}